In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('../data/csv/train.csv', sep=';')

In [20]:
df.head()

,id,tweet,caption,ner,sa
0,1015799,RT @JayKenMinaj _ : Me outside of where George...,"person, who is the girl of the hour, was seen ...",O O O O O O O O B-PER I-PER O O O O O O O O O ...,POSITIVE
1,1109405,"Swan upping : first stop Hermitage Warf , Towe...",the view from the top of the building,O O O O O B-LOC I-LOC O B-LOC I-LOC O B-LOC O ...,POSITIVE
2,563049,RT @redbullESPORTS : Smash Shiba is stoked for...,the audience applauds as the show begins.,O O O B-OTHER I-OTHER O O O O B-OTHER I-OTHER ...,POSITIVE
3,418340,Rep . Howard Coble mingling ahead of press con...,a person is standing up,O O B-PER I-PER O O O O O O O O O O O O O O O O O,POSITIVE
4,50168,Psychologists explain why Katie Hopkins is jus...,person is the new face of the singer,O O O B-PER I-PER O O O B-PER I-PER O O O O O ...,NEGATIVE